<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>FLOW</title>
	<!-- Required meta tags -->
	   <meta charset="utf-8">
	   <!-- sbb CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/AdminCompanyInfo.css}">
	<script th:src="@{/js/AdminCompanyInfo.js}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	   <title>TayoAdmin</title>
	
</head>
<body style = "overflow-y:hidden">
	<div id="div_sidebar" class = "fl">
		<div id = "div_header" >
			<div id = "div_imagelogo">
				<img src = "https://flow.team/flow-renewal/assets/images/flow-logo-w.svg" />
			</div>
		</div>
		<div id = "div_side" class = "scrollbar">
		<div id = "div_sidecontents" >
			<h2>회사</h2>
			<div id="div_h3box" >
				<a style ="color : #7faeff">회사 정보</a><br/>
				<a th:href="@{/Admin/list}">구성원 관리</a><br/>
				<a th:href="@{/Admin/AdminInvitation}">구성원 초대</a><br/>
				<a th:href="@{/Admin/AdminOrganization}">조직도 관리</a><br/>
				<a>포털 앱 권한 관리</a>
			</div>
			<h2>프로젝트</h2>
			<div id="div_h3box2" >
				<h3>프로젝트 관리</h3>
				<h3>회사 프로젝트 관리</h3>
				<h3>공개 프로젝트 관리</h3>
				<h3>공개 프로젝트 카테고리</h3>
				<h3>프로젝트 템플릿 카테고리 관리</h3>
				<h3>비활성화 프로젝트 관리</h3>
			</div>
			<h2>통계/리포트</h2>
			<div id="div_h3box3" >
				<h3>접속 통계</h3>
				<h3>사용 통계</h3>
			</div>
			<h2>보안 설정</h2>
			<div id="div_h3box" >
				<h3>파일 보안 설정</h3>
				<h3>로그인 보안 설정</h3>
				<h3>화면 캡처 방지 설정</h3>
				<h3>워터마크 설정</h3>
				<h3>AI 설정</h3>
			</div>
			<h2>로그</h2>
			<div id="div_h3box3">
				<h3>파일 다운로드 이력</h3>
				<h3>관리자 변경 이력</h3>
			</div>
			<h2>결제</h2>
			<div id="div_h3box4">
				<h3>결제 정보</h3>
			</div>
			</div>
		</div>
		<div id = "div_helpbutton"><img src = "img/img_help.png"/></div>
	</div>
	<div id="div_content" class="fr">
	        <input type="hidden" id="companyIdx" th:value="${Company?.companyIdx}">
	        <div id="div_titleh1">
	            <div id="div_titleh1low">
	                <h1>회사 정보</h1>
	            </div>
	        </div>
	        <div id="div_uppercontents">
	            <dl>
	                <dt id="dt1">회사명</dt>
	                <dd id="div_inputbox">
	                    <input id="input1" name="companyName" type="text" th:value="${Company?.companyName}" maxlength="20" disabled="disabled"></input>
	                    <button class="button2 modbutton">수정</button>
	                    <button class="button1 savebutton" style="display:none;" onclick="updateCompanyInfo()">저장</button>
	                    <button class="button2 cancelbutton" style="display:none;">취소</button>
	                </dd>
	                <dt id="dt2">로고 설정</dt>
	                <dd id="div_logoinsert">
	                    <div id="div_logocontrol">+ 로고 등록</div>
	                    <p>권장사항 - 400*100px, PNG / 최대 500KB</p>
	                </dd>
	            </dl>
	        </div>
	        <div id="div_lowercontents">
	            <dl>
	                <dt id="dt1">전용 URL</dt>
	                <dd id="div_inputbox2">
	                    <p id="p1">전용 URL 주소를 전달하여 회사 직원들을 참여시킬 수 있습니다.</p>
	                    <div id="div_inputbox">
	                        <input id="input2" type="text" name="url" disabled="disabled" th:value="'https://' + ${Company?.url}" maxlength="20"></input>
	                        <button class="button2 modbutton">수정</button>
	                        <button class="button1 savebutton" style="display:none;" onclick="updateCompanyInfo()">저장</button>
	                        <button class="button2 cancelbutton" style="display:none;">취소</button>
	                    </div>
	                </dd>
	            </dl>
	            <div id="div_option">
	                <a>직원 참여 옵션</a>
	                <div id="div_optionbox">
	                    <div id="div_radio">
	                        <input type="radio" id="승인" name="승인" value="승인" th:checked="${Company?.participationMethod == null}">
	                        <label for="승인">관리자의 가입 승인 완료 후, 참여하도록 설정합니다.</label>
	                    </div>
	                    <div id="div_radio">
	                        <input type="radio" id="승인불필요" name="승인" value="승인불필요" th:checked="${Company?.participationMethod != null}">
	                        <label for="승인불필요">특정 도메인의 이메일로 가입시, 관리자 승인 없이도 바로 참여할 수 있도록 설정합니다.</label>
	                    </div>
	                    <div id="div_acceptURL" th:attr="style=${Company?.participationMethod == null ? 'display:none' : ''}">
	                        <span>@</span>
	                        <input id="input3" type="text" maxlength="20" name="participationMethod" th:value="${Company?.participationMethod}" disabled="disabled"></input>
	                        <button class="button2 modbutton">수정</button>
	                        <button class="button1 savebutton" style="display:none;" onclick="updateCompanyInfo()">저장</button>
	                        <button class="button2 cancelbutton" style="display:none;">취소</button>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div id="div_logoinsertpopup" style="display:none;">
	            <div id="div_logoinserttitle">로고 등록 <a id="exitlogoedit"></a></div>
	            <div id="div_logoinsertbody">
	                <div id="div_logoimagewrap">
	                    <h2>우리 회사 로고를 등록 하세요</h2>
	                    <div id="div_fileadd">
	                        <a>파일 첨부</a>
	                    </div>
	                    <p>권장사항 - 400*100px, PNG / 최대 500KB</p>
	                </div>
	            </div>
	            <div id="div_logoinsertbottom">
	                <button id="logocancel" class="button2" style="width:70px; height:30px; margin-right:5px;">취소</button>
	                <button id="logosave" class="button1" style="width:70px; height:30px;" onclick="updateCompanyInfo()">저장</button>
	            </div>
	        </div>
	        <div id="div_allowpopup" style="display:none;">
	            <div id="div_allowtitle"> <a id="exitallow"></a></div>
	            <div id="div_allowbody">
	                <div id="div_allowcont">특정 도메인의 이메일 리스트가 사라집니다.<br/>그래도 설정하시겠습니까?</div>
	                <div id="div_allowbutton">
	                    <button id="allowcancel" class="button2" style="width:153px; height:30px; margin-right:10px;margin-left:0px;">취소</button>
	                    <button id="allowsave" class="button1" style="width:153px; height:30px;">확인</button>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div id="div_backgroundfull" style="display:none;">
	    </div>
	    <div style="clear:both;"></div>
	</body>
	</html>