<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/chatRoom.css}" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script th:src="@{/js/chatRoom.js}"></script>
</head>
<body>
	<input id="login-member" type="hidden" th:value="${member.memberIdx}" />
	<div class="chat-wr">
		<header>
			<div>
				<img src="/img/chat_profile.png" alt="" />
				<span>채팅방명</span>
			</div>
			<div>
				<button>
					<img src="/img/chat_search_icon.png" alt="" />
				</button>
				<button class="menu-open-btn">
					<img src="/img/chat_menu_icon.png" alt="" />
				</button>
			</div>
		</header>
		<button th:if="maxNotice != null" class="small-notice-button">
		</button>
		<div th:each="chat : ${chatList}" class="notice-box">
			<div th:each="chatContent : ${chat.chatContentsList}" th:if="${chatContent.chatContentsIdx == maxNotice}"
				class="notice-top">
				<i><img src="/img/chat-notice-icon.png" alt="" /></i>
				<div class="notice-content">
					<div th:utext="${chatContent.text}" class="chat-notice"></div>
					<div class="author">
						<strong th:text="${chatContent.member.name}" class="notice-content-user-name"></strong>
						<em th:text="${#dates.format(chatContent.time, 'yyyy-MM-dd HH:MM')}"
							class="notice-content-date"></em>
					</div>
				</div>
				<button class="notice-box-close-btn">
					<img src="/img/under_arrow_pupple.png" alt="" />
				</button>
			</div>
			<div class="notice-bottom">
				<button class="button-quit">다시 보지 않기</button>
				<button class="button-samll notice-box-close-btn">접어두기</button>
			</div>
		</div>
		<ul th:each="chat : ${chatList}" class="chat-container">
			<div th:each="chatContents, innerIterStat : ${sortedChatContentsList}">
				<div th:if="${innerIterStat.index == 0 or
					 	#dates.format(chatContents.time, 'yyyy-MM-dd') != 
						#dates.format(sortedChatContentsList[innerIterStat.index - 1].time, 'yyyy-MM-dd')}">
					<div class="chat-date">
						<span th:text="${#dates.format(chatContents.time, 'yyyy-MM-dd') +
					 ' (' + #dates.format(chatContents.time, 'E') + ')'}"></span>
					</div>
				</div>
				<li th:if="${chatContents.member.memberIdx != member.memberIdx 
						and chatContents.isReply == null
						and chatContents.notice == null
						and chatContents.hasFile == null
					 }" class="left-section">
					<input type="hidden" th:value="${chatContents.chatContentsIdx}">
					<div class="user-picture">
						<img src="/img/chat_profile.png" alt="" />
					</div>
					<div class="user-section">
						<div class="user-title">
							<span th:utext="'<strong>' + ${chatContents.member.name} + '</strong>'"></span>
						</div>
						<div class="chat-left clearfix">
							<div class="chat-txt-wr">
								<div class="chat-txt">
									<div th:if="${chatContents.text != null}" th:utext="${chatContents.text}"></div>
								</div>
								<div class="chat-btns">
									<div th:if="${#lists.size(chatContents.chatUnreaderList) > 0}"
										th:text="${#lists.size(chatContents.chatUnreaderList)}" class="chat-read"></div>
									<div th:unless="${#lists.size(chatContents.chatUnreaderList) > 0}"
										class="chat-read-none"></div>
									<div>
										<div class="chat-btn-wrap">
											<button class="reply-open-btn">
												<img src="/img/chat-btn-left.png" alt="" />
											</button>
											<div class="medal-more-wrap">
												<button class="modal-more-btn">
													<img src="/img/chat-btn-right.png" alt="" />
												</button>
												<ul class="modal-more">
													<li><button class="copy">복사</button></li>
													<li class="notice">
														<form th:action="@{|/chatRoom/${chat.chatIdx}|}" method="post">
															<input type="hidden" name="chatContentsIdx"
																th:value="${chatContents.chatContentsIdx}" />
															<button type="submit">공지설정</button>
														</form>
													</li>
													<li class="delete-only-for-me">
														<button class="del">나에게서만 삭제</button>
													</li>
													<li class="delete-all">
														<button class="del">전체삭제</button>
													</li>
												</ul>
											</div>
										</div>
										<div th:text="${#dates.format(chatContents.time, 'a h:mm')}" class="user-time">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li th:if="${chatContents.member.memberIdx == member.memberIdx 
						and chatContents.isReply == null 
						and chatContents.notice == null
						and chatContents.hasFile == null }" class="right-section">
					<input type="hidden" th:value="${chatContents.chatContentsIdx}">
					<div>
						<div class="chat-right clearfix">
							<div class="chat-txt-wr">
								<div class="chat-btns">
									<div>
										<div class="chat-btn-wrap">
											<button class="reply-open-btn">
												<img src="/img/chat-btn-left.png" alt="" />
											</button>
											<div class="medal-more-wrap">
												<button class="modal-more-btn">
													<img src="/img/chat-btn-right.png" alt="" />
												</button>
												<ul class="modal-more">
													<li><button class="copy">복사</button></li>
													<li class="notice">
														<form th:action="@{|/chatRoom/${chat.chatIdx}|}" method="post">
															<input type="hidden" name="chatContentsIdx"
																th:value="${chatContents.chatContentsIdx}" />
															<button type="submit">공지설정</button>
														</form>
													</li>
													<li class="delete-only-for-me">
														<button class="del">나에게서만 삭제</button>
													</li>
													<li class="delete-all">
														<button class="del">전체삭제</button>
													</li>
												</ul>
											</div>
										</div>
										<div th:text="${#dates.format(chatContents.time, 'a h:mm')}" class="user-time">
										</div>
									</div>
									<div th:if="${#lists.size(chatContents.chatUnreaderList) > 0}"
										th:text="${#lists.size(chatContents.chatUnreaderList)}" class="chat-read"></div>
									<div th:unless="${#lists.size(chatContents.chatUnreaderList) > 0}"
										class="chat-read-none"></div>
								</div>
								<div class="chat-txt">
									<div th:if="${chatContents.text != null}" th:utext="${chatContents.text}"></div>
								</div>
							</div>
						</div>
					</div>
				</li>

				<li th:if="${chatContents.member.memberIdx == member.memberIdx 
						and chatContents.isReply != null
						and chatContents.notice == null
						and chatContents.hasFile == null }" class="right-section">
					<input type="hidden" th:value="${chatContents.chatContentsIdx}">
					<div>
						<div class="chat-right clearfix">
							<div class="chat-txt-wr">
								<div class="chat-btns">
									<div>
										<div class="chat-btn-wrap">
											<button class="reply-open-btn">
												<img src="/img/chat-btn-left.png" alt="" />
											</button>
											<div class="medal-more-wrap">
												<button class="modal-more-btn">
													<img src="/img/chat-btn-right.png" alt="" />
												</button>
												<ul class="modal-more">
													<li><button class="copy">복사</button></li>
													<li class="notice">
														<form th:action="@{|/chatRoom/${chat.chatIdx}|}" method="post">
															<input type="hidden" name="chatContentsIdx"
																th:value="${chatContents.chatContentsIdx}" />
															<button type="submit">공지설정</button>
														</form>
													</li>
													<li class="delete-only-for-me">
														<button class="del">나에게서만 삭제</button>
													</li>
													<li class="delete-all">
														<button class="del">전체삭제</button>
													</li>
												</ul>
											</div>
										</div>
										<div th:text="${#dates.format(chatContents.time, 'a h:mm')}" class="user-time">
										</div>
									</div>
									<div th:if="${#lists.size(chatContents.chatUnreaderList) > 0}"
										th:text="${#lists.size(chatContents.chatUnreaderList)}" class="chat-read"></div>
									<div th:unless="${#lists.size(chatContents.chatUnreaderList) > 0}"
										class="chat-read-none"></div>
								</div>
								<div class="reply-box">
									<div class="chat-txt-reply">
										<strong th:text="${chatContents.isReply.member.name} +'님에게 답장'"></strong>
										<p th:utext="${chatContents.isReply.text}"></p>
									</div>
									<div class="chat-txt">
										<div th:if="${chatContents.text != null}" th:utext="${chatContents.text}"></div>
										<div th:if="${chatContents.emote != null}" th:text="${chatContents.emote}">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li th:if="${chatContents.member.memberIdx != member.memberIdx 
						and chatContents.isReply != null
						and chatContents.notice == null }" class="left-section">
					<input type="hidden" th:value="${chatContents.chatContentsIdx}">
					<div class="user-picture">
						<img src="/img/chat_profile.png" alt="" />
					</div>
					<div class="user-section">
						<div class="user-title">
							<span th:utext="'<strong>' + ${chatContents.member.name} + '</strong>'"></span>
						</div>
						<div class="chat-left clearfix">
							<div class="chat-txt-wr">
								<div class="reply-box">
									<div class="chat-txt-reply">
										<strong th:text="${chatContents.isReply.member.name} +'님에게 답장'"></strong>
										<p th:utext="${chatContents.isReply.text}"></p>
									</div>
									<div class="chat-txt">
										<div th:if="${chatContents.text != null}" th:utext="${chatContents.text}"></div>
									</div>
								</div>
								<div class="chat-btns">
									<div th:if="${#lists.size(chatContents.chatUnreaderList) > 0}"
										th:text="${#lists.size(chatContents.chatUnreaderList)}" class="chat-read"></div>
									<div th:unless="${#lists.size(chatContents.chatUnreaderList) > 0}"
										class="chat-read-none"></div>

									<div>
										<div class="chat-btn-wrap">
											<button class="reply-open-btn">
												<img src="/img/chat-btn-left.png" alt="" />
											</button>
											<div class="medal-more-wrap">
												<button class="modal-more-btn">
													<img src="/img/chat-btn-right.png" alt="" />
												</button>
												<ul class="modal-more">
													<li><button class="copy">복사</button></li>
													<li class="notice">
														<form th:action="@{|/chatRoom/${chat.chatIdx}|}" method="post">
															<input type="hidden" name="chatContentsIdx"
																th:value="${chatContents.chatContentsIdx}" />
															<button type="submit">공지설정</button>
														</form>
													</li>
													<li class="delete-only-for-me">
														<button class="del">나에게서만 삭제</button>
													</li>
													<li class="delete-all">
														<button class="del">전체삭제</button>
													</li>
												</ul>
											</div>
										</div>
										<div th:text="${#dates.format(chatContents.time, 'a h:mm')}" class="user-time">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!--				공지사항-->
				<div th:if="${chatContents.notice != null}" class="chat-out">
					<span th:text="${chatContents.member.name} + '님이 공지사항을 등록하였습니다. '
 							 + ${#dates.format(chatContents.time, 'yyyy-MM-dd HH:mm')}"></span>
				</div>
				<!--				수정사항					-->
				<li th:if="${chatContents.member.memberIdx != member.memberIdx 
									and chatContents.isReply == null
									and chatContents.notice == null
									and chatContents.hasFile != null
									and chatContents.hasFile.fileType != img
									and !(chatContents.hasFile.fileType == 'image/png' or chatContents.hasFile.fileType == 'image/jpeg')}"
					class="left-section">
					<input type="hidden" th:value="${chatContents.chatContentsIdx}">
					<div class="user-picture">
						<img src="/img/chat_profile.png" alt="" />
					</div>
					<div class="user-section">
						<div class="user-title">
							<span th:utext="'<strong>' + ${chatContents.member.name} + '</strong>'"></span>
						</div>
						<div class="chat-left clearfix">
							<div class="chat-txt-wr">
								<div class="user-file">
									<div class="file-wr">
										<div><i th:text="${chatContents.hasFile.fileType}" class="icon-file"></i></div>
										<div class="file-info file-down">
											<p th:text="${#strings.substring(chatContents.hasFile.fileName, chatContents.hasFile.fileName.indexOf('_') + 1)}" class="file-tit"></p>

											<span th:text="${chatContents.hasFile.data.length/1024 + 'KB'}"
												class="file-size ellipsis"></span>
										</div>
										<a th:href="${chatContents.getFileUrl()}"
											class="js-download-button btn-download">
											<i class="icons-arrow_down"></i>
										</a>
									</div>
								</div>
								<div class="chat-btns">
									<div th:if="${#lists.size(chatContents.chatUnreaderList) > 0}"
										th:text="${#lists.size(chatContents.chatUnreaderList)}" class="chat-read"></div>
									<div th:unless="${#lists.size(chatContents.chatUnreaderList) > 0}"
										class="chat-read-none"></div>
									<div>
										<div class="chat-btn-wrap">
											<button class="reply-open-btn">
												<img src="/img/chat-btn-left.png" alt="" />
											</button>
											<div class="medal-more-wrap">
												<button class="modal-more-btn">
													<img src="/img/chat-btn-right.png" alt="" />
												</button>
												<ul class="modal-more">
													<li><button class="copy">복사</button></li>
													<li class="notice">
														<form th:action="@{|/chatRoom/${chat.chatIdx}|}" method="post">
															<input type="hidden" name="chatContentsIdx"
																th:value="${chatContents.chatContentsIdx}" />
															<button type="submit">공지설정</button>
														</form>
													</li>
													<li class="delete-only-for-me">
														<button class="del">나에게서만 삭제</button>
													</li>
													<li class="delete-all">
														<button class="del">전체삭제</button>
													</li>
												</ul>
											</div>
										</div>
										<div th:text="${#dates.format(chatContents.time, 'a h:mm')}" class="user-time">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li th:if="${chatContents.member.memberIdx == member.memberIdx 
									and chatContents.isReply == null 
									and chatContents.notice == null
									and chatContents.hasFile != null 
									and !(chatContents.hasFile.fileType == 'image/png' or chatContents.hasFile.fileType == 'image/jpeg')}"
					class="right-section">
					<input type="hidden" th:value="${chatContents.chatContentsIdx}">
					<div>
						<div class="chat-right clearfix">
							<div class="chat-txt-wr">
								<div class="chat-btns">
									<div>
										<div class="chat-btn-wrap">
											<button class="reply-open-btn">
												<img src="/img/chat-btn-left.png" alt="" />
											</button>
											<div class="medal-more-wrap">
												<button class="modal-more-btn">
													<img src="/img/chat-btn-right.png" alt="" />
												</button>
												<ul class="modal-more">
													<li><button class="copy">복사</button></li>
													<li class="notice">
														<form th:action="@{|/chatRoom/${chat.chatIdx}|}" method="post">
															<input type="hidden" name="chatContentsIdx"
																th:value="${chatContents.chatContentsIdx}" />
															<button type="submit">공지설정</button>
														</form>
													</li>
													<li class="delete-only-for-me">
														<button class="del">나에게서만 삭제</button>
													</li>
													<li class="delete-all">
														<button class="del">전체삭제</button>
													</li>
												</ul>
											</div>
										</div>
										<div th:text="${#dates.format(chatContents.time, 'a h:mm')}" class="user-time">
										</div>
									</div>
									<div th:if="${#lists.size(chatContents.chatUnreaderList) > 0}"
										th:text="${#lists.size(chatContents.chatUnreaderList)}" class="chat-read"></div>
									<div th:unless="${#lists.size(chatContents.chatUnreaderList) > 0}"
										class="chat-read-none"></div>
								</div>
								<div class="user-file">
									<div class="file-wr">
										<div><i th:text="${chatContents.hasFile.fileType}" class="icon-file"></i></div>
										<div class="file-info file-down">
											<p th:text="${#strings.substring(chatContents.hasFile.fileName, chatContents.hasFile.fileName.indexOf('_') + 1)}" class="file-tit"></p>
											<span th:text="${chatContents.hasFile.data.length/1024 + 'KB'}"
												class="file-size ellipsis"></span>
										</div>
										<a th:href="${chatContents.getFileUrl()}"
											class="js-download-button btn-download">
											<i class="icons-arrow_down"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li th:if="${chatContents.member.memberIdx != member.memberIdx 
								                 and chatContents.isReply == null 
								                 and chatContents.notice == null
								                 and chatContents.hasFile != null 
								                 and (chatContents.hasFile.fileType == 'image/png' or chatContents.hasFile.fileType == 'image/jpeg')}"
					class="left-section">
					<input type="hidden" th:value="${chatContents.chatContentsIdx}">
					<div class="user-picture">
						<img src="/img/chat_profile.png" alt="" />
					</div>
					<div class="user-section">
						<div class="user-title">
							<span th:utext="'<strong>' + ${chatContents.member.name} + '</strong>'"></span>
						</div>
						<div class="chat-left clearfix">
							<div class="chat-txt-wr">
								<div class="pre-img">
									<img class="chat-contents-img" th:src="${chatContents.getFileUrl()}" />
								</div>
								<div class="chat-btns">
									<div th:if="${#lists.size(chatContents.chatUnreaderList) > 0}"
										th:text="${#lists.size(chatContents.chatUnreaderList)}" class="chat-read"></div>
									<div th:unless="${#lists.size(chatContents.chatUnreaderList) > 0}"
										class="chat-read-none"></div>
									<div>
										<div class="chat-btn-wrap">
											<button class="reply-open-btn">
												<img src="/img/chat-btn-left.png" alt="" />
											</button>
											<div class="medal-more-wrap">
												<button class="modal-more-btn">
													<img src="/img/chat-btn-right.png" alt="" />
												</button>
												<ul class="modal-more">
													<li><button class="copy">복사</button></li>
													<li class="notice">
														<input type="hidden" name="chatContentsIdx"
															th:value="${chatContents.chatContentsIdx}" />
														<button type="submit">공지설정</button>
														<!--														</form>-->
													</li>
													<li class="delete-only-for-me">
														<button class="del">나에게서만 삭제</button>
													</li>
													<li class="delete-all">
														<button class="del">전체삭제</button>
													</li>
												</ul>
											</div>
										</div>
										<div th:text="${#dates.format(chatContents.time, 'a h:mm')}" class="user-time">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li th:if="${chatContents.member.memberIdx == member.memberIdx 
				                 and chatContents.isReply == null 
				                 and chatContents.notice == null
				                 and chatContents.hasFile != null 
				                 and (chatContents.hasFile.fileType == 'image/png' or chatContents.hasFile.fileType == 'image/jpeg')}"
					class="right-section">
					<input type="hidden" th:value="${chatContents.chatContentsIdx}">
					<div>
						<div class="chat-right clearfix">
							<div class="chat-txt-wr">
								<div class="chat-btns">
									<div>
										<div class="chat-btn-wrap">
											<button class="reply-open-btn">
												<img src="/img/chat-btn-left.png" alt="" />
											</button>
											<div class="medal-more-wrap">
												<button class="modal-more-btn">
													<img src="/img/chat-btn-right.png" alt="" />
												</button>
												<ul class="modal-more">
													<li><button class="copy">복사</button></li>
													<li class="notice">
														<form th:action="@{|/chatRoom/${chat.chatIdx}|}" method="post">
															<input type="hidden" name="chatContentsIdx"
																th:value="${chatContents.chatContentsIdx}" />
															<button type="submit">공지설정</button>
														</form>
													</li>
													<li class="delete-only-for-me">
														<button class="del">나에게서만 삭제</button>
													</li>
													<li class="delete-all">
														<button class="del">전체삭제</button>
													</li>
												</ul>
											</div>
										</div>
										<div th:text="${#dates.format(chatContents.time, 'a h:mm')}" class="user-time">
										</div>
									</div>
									<div th:if="${#lists.size(chatContents.chatUnreaderList) > 0}"
										th:text="${#lists.size(chatContents.chatUnreaderList)}" class="chat-read"></div>
									<div th:unless="${#lists.size(chatContents.chatUnreaderList) > 0}"
										class="chat-read-none"></div>
								</div>
								<div class="pre-img">
									<img class="chat-contents-img" th:src="${chatContents.getFileUrl()}" />
								</div>
							</div>
						</div>
					</div>
				</li>
			</div>

		</ul>
		<footer th:each="chat : ${chatList}">
			<div th:text="${member.name}" style="display: none;" id="senderName"></div>
			<div th:text="${member.memberIdx}" style="display: none;" id="senderIdx"></div>
			<div>
				<div class="btn-wr">
					<button class="btn-emo">
						<img src="/img/chat_emote_icon.png" alt="" />
						<span class="tooltiptext emote">이모티콘(준비중)</span>
					</button>
					<form id="file-upload-form" th:action="@{|/chatRoom/${chat.chatIdx}|}" method="post"
						enctype="multipart/form-data" style="display:none;">
						<input type="file" id="file-input" name="file">
					</form>
					<button type="button" class="btn-files">
						<img src="/img/chat_clip_icon.png" alt="" />
						<span class="tooltiptext file">파일 첨부</span>
					</button>
				</div>
				<div id="chat-contents-form" class="write-wr">
					<div class="chat-reply-alert">
						<div class="js-reply-input chat-alert">
							<div class="contents">
								<span id="reply-from" class="user-title">
									<strong></strong>
								</span>
								<p id="reply-chat-txt" class="chat-txt"></p>
							</div>
							<div class="btn-close-reply">
								<i class="icon-chat-reply"><img src="/img/chat-reply-x.png" alt="" /></i>
							</div>
						</div>
					</div>
					<input type="hidden" th:value="${chat.chatIdx}" />
					<input type="hidden" id="reply-idx" name="replyIdx" value="">
					<div class="chat-enter-position">
						<div class="create-post-content" contenteditable="true" placeholder="메시지를 입력하세요. 
(멘션 @ / 줄바꿈 Shift + Enter)" spellcheck="false"></div>
						<button id="content-input" class="btn-chat-enter">전송</button>
					</div>
				</div>

			</div>
		</footer>
		<div class="chat-menu">
			<div class="dimmed"></div>
			<article>
				<div class="menu-container">
					<div class="menu-top">
						<ul class="menu-btns">
							<li>
								<i><img src="/img/menu-image-icon.svg" alt="" /></i>
								<span>이미지</span>
							</li>
							<li>
								<i><img src="/img/menu-file-icon.svg" alt="" /></i>
								<span>파일</span>
							</li>
							<li>
								<i><img src="/img/menu-links-icon.svg" alt="" /></i>
								<span>링크</span>
							</li>
							<li>
								<i><img src="/img/menu-noties-icon.svg" alt="" /></i>
								<span>공지</span>
							</li>
						</ul>
					</div>
					<div th:each="chat : ${chatList}" class="menu-contents">
						<button class="btn-type-01">초대하기</button>
						<div>
							<b>참여자</b>
							<span>(2)</span>
						</div>
						<ul>
							<li th:each="chatMember : ${chat.chatMemberList}" class="participants-list">
								<div>
									<span><img src="/img/chat_profile.png" alt="" /></span>
									<dl>
										<dt><strong th:text="${chatMember.member.name}">이태호</strong> <em>대표</em></dt>
										<dd>
											<strong>tayo</strong>
											<span>부서</span>
										</dd>
									</dl>
								</div>
							</li>
						</ul>
					</div>
					<div class="menu-bottom"></div>
				</div>
				<div class="menu-container" style="display: none"></div>
			</article>
		</div>
	</div>

</body>

</html>