<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Text Copy Example</title>
	<link rel="stylesheet" href="styles.css" />
</head>
<body>
	<div class="container">
		<div class="text-container">
			<div class="text-header">
				<span class="username">이태호</span>
				<span class="timestamp">2024/06/21 오전 11:44</span>
				<button id="copyTextButton" class="copy-btn">텍스트 복사</button>
			</div>
			<div class="text-to-copy">
				오 태호 반갑고 응애 응애 응애 응애오 태호 반갑고 응애 응애 응애 응애오
				태호 반갑고 응애 응애 응애 응애오 태호 반갑고 응애 응애 응애 응애오
				태호 반갑고 응애 응애 응애 응애오 태호 반갑고 응애 응애 응애 응애오
				태호 반갑고 응애 응애 응애 응애오 태호 반갑고 응애 응애 응애 응애오
				태호 반갑고 응애 응애 응애 응애
			</div>
		</div>
	</div>

	<script src="scripts.js"></script>
</body>

</html>