<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로젝트 만들기</title>
   <link rel="stylesheet" type="text/css" th:href="@{/css/createNewProject.css}">
</head>
<body>
    <div class="container">
        <div class="form_container">
           <button class="back_button" onclick="history.back()">&#8592; 뒤로가기</button>
            <h1>새 프로젝트 만들기</h1>
            <form action="/createNewProject" method="post">
               <div class="form_group">
                   <label for="title">프로젝트 이름</label>
                   <input type="text" id="title" placeholder="제목을 입력하세요." name="projectName">
               </div>
               <h4 style="margin:0px;">메인 탭 설정</h4>
               <div class="tabs">
                   <input type="radio" id="tab-feed" name="main_tab" value="1" class="main_tab_radio" checked>
                <label for="tab-feed" class="main_tab active">피드</label>
                
                <input type="radio" id="tab-task" name="main_tab" value="2" class="main_tab_radio">
                <label for="tab-task" class="main_tab">업무</label>
                
                <input type="radio" id="tab-gantt" name="main_tab" value="3" class="main_tab_radio">
                <label for="tab-gantt" class="main_tab">간트차트</label>
                
                <input type="radio" id="tab-calendar" name="main_tab" value="4" class="main_tab_radio">
                <label for="tab-calendar" class="main_tab">캘린더</label>
                
                <input type="radio" id="tab-files" name="main_tab" value="5" class="main_tab_radio">
                <label for="tab-files" class="main_tab">파일</label>
               </div>
               <div class="settings">
                   <div class="options">
                      회사 공개로 설정
                       <label class="switch" style="margin-top:4px;">
                        <input type="checkbox" name="companyProject" value="1" checked>
                        <span class="slider round"></span>
                        </label>
                   </div>
                   <div class="options">
                      관리자 승인 후 참여 가능   
                      <label class="switch" style="margin-top:4px;">
                        <input type="checkbox" name="needConfirm" value="1" checked>
                        <span class="slider round"></span>
                        </label>
                   </div>
               </div>
               <div class="create_button">
                   <button>프로젝트 생성</button>
               </div>
            </form>
        </div>
        <div class="image_container">
            <img src="img/template-feed.png" alt="프로젝트 이미지">
        </div>
    </div>
</body>
</html>
