<link rel="stylesheet" type="text/css" th:href="@{/css/mainpage.css}">
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const navItems = document.querySelectorAll('.js_nav');
    const navMenus = document.querySelectorAll('.nav_menu');

    navItems.forEach((item, index) => {
      let timeout;
      item.addEventListener('mouseenter', () => {
        clearTimeout(timeout);
        navMenus[index].classList.add('show');
      });

      item.addEventListener('mouseleave', () => {
        timeout = setTimeout(() => {
          navMenus[index].classList.remove('show');
        }, 100);
      }); 

      navMenus[index].addEventListener('mouseenter', () => {
        clearTimeout(timeout);
      });

      navMenus[index].addEventListener('mouseleave', () => {
        timeout = setTimeout(() => {
          navMenus[index].classList.remove('show');
        }, 100);
      });
    });
  });
</script>
<header>
      <nav>
        <div id="header1">
          <a href="http://127.0.0.1:5500/HTML/tayo4/MainPage.html">
            <img id="flow_img" src="/img/flow.png" alt="" />
          </a>
        </div>
        <div id="header2">
          <ul class="item_list">
            <li id="nav1" class="js_nav">
              <span class="header_span">
                <i class="n"><img src="/img/n.png" alt="" /></i>
                기능
                <i class="arrow"><img src="/img/i.png" alt="" /></i>
              </span>
              <div class="nav_menu">
                <div>
                  <ul class="sub_link_wrap">
                    <li>
                      <a href="">
                        <img src="/img/function1.png" alt="" />
                        <div class="em_p_hover">
                          <em>프로젝트 & 업무관리</em>
                          <p>
                            프로젝트 시작 - 종료까지 업무 관리를 완벽하게
                            수행하세요.
                          </p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="/img/function2.png" alt="" />
                        <div class="em_p_hover">
                          <em>플로우 AI</em>
                          <p>
                            AI로 완전히 똑똑해진 업무 비서 플로우를 경험해
                            보세요.
                          </p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="/img/function3.png" alt="" />
                        <div class="em_p_hover">
                          <em>보안</em>
                          <p>
                            글로벌 최고 수준의 보안으로 안전하게 자산을
                            보호하세요.
                          </p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="/img/function4.png" alt="" />
                        <div class="em_p_hover">
                          <em>보안 메신저</em>
                          <p>
                            회사의 중요한 정보를 보안 메신저로 안전하게
                            소통하세요.
                          </p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="/img/function5.png" alt="" />
                        <div class="em_p_hover">
                          <em>외부 서비스 연동</em>
                          <p>
                            다양한 외부 서비스와 연동해 편의성을 높여보세요.
                          </p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="/img/function6.png" alt="" />
                        <div class="em_p_hover">
                          <em>OKR</em>
                          <p>
                            OKR 목표와 업무를 연결해 성과를 최대로 높여보세요.
                          </p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="/img/function7.png" alt="" />
                        <div class="em_p_hover">
                          <em>다운로드</em>
                          <p>
                            PC, 태블릿, 스마트폰으로 빠르게 플로우를 이용해
                            보세요.
                          </p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="/img/function8.png" alt="" />
                        <div class="em_p_hover">
                          <em>커뮤니티</em>
                          <p>
                            SNS 방식의 쉽고 강력한 소통 기능을 경험해 보세요.
                          </p>
                        </div>
                      </a>
                    </li>
                  </ul>
                  <div class="nav_banner_wrap">
                    <ul>
                      <li>
                        <a href="">
                          <img src="/img/riview.png" alt="" />
                        </a>
                      </li>
                      <li>
                        <img src="/img/tem.png" alt="" />
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li id="nav2" class="js_nav">
              <span class="header_span">
                요금
                <i class="arrow"><img src="/img/i.png" alt="" /></i>
              </span>
              <div class="nav_menu">
                <div>
                  <ul class="sub_link_wrap">
                    <li>
                      <a href="">
                        <img src="/img/price1.png" alt="" />
                        <div class="em_p_hover">
                          <em>요금제</em>
                          <p>가장 합리적인 요금으로 업무 효율을 높여보세요.</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="/img/price2.png" alt="" />
                        <div class="em_p_hover">
                          <em>유료 VS 무료 </em>
                          <p>업무 형태에 따라 합리적인 플랜을 선택하세요.</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="/img/price3.png" alt="" />
                        <div class="em_p_hover">
                          <em>구축형(for 금융, 공공)</em>
                          <p>철통보안 기업도 On-Premise로 안전하게 협업해요.</p>
                        </div>
                      </a>
                    </li>
                  </ul>
                  <div class="nav_banner_wrap">
                    <ul>
                      <li>
                        <a href="">
                          <img src="/img/riview.png" alt="" />
                        </a>
                      </li>
                      <li>
                        <img src="/img/tem.png" alt="" />
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li id="nav3" class="js_nav">
              <span class="header_span">
                팀 협업
                <i class="arrow"><img src="/img/i.png" alt="" /></i>
              </span>
              <div class="nav_menu">
                <div>
                  <ul class="sub_link_wrap">
                    <li>
                      <a href="">
                        <img src="/img/collabo1.png" alt="" />
                        <div class="em_p_hover">
                          <em>제조</em>
                          <p>개발부터 출시까지 완벽한 제품 생산 로드맵 관리</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="/img/collabo2.png" alt="" />
                        <div class="em_p_hover">
                          <em>마케팅</em>
                          <p>모든 마케팅 캠페인 계획과 성과 관리를 하나로</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="/img/collabo3.png" alt="" />
                        <div class="em_p_hover">
                          <em>유통</em>
                          <p>
                            본사 - 협력사 - 현장 판매까지 쉽고 빠른 의사소통
                          </p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="/img/collabo4.png" alt="" />
                        <div class="em_p_hover">
                          <em>디자인</em>
                          <p>디자인 협업 프로세스와 효율적인 리소스 관리</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="/img/collabo5.png" alt="" />
                        <div class="em_p_hover">
                          <em>금융</em>
                          <p>금융권 망 분리 환경에서 안전한 디지털 협업</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="/img/collabo6.png" alt="" />
                        <div class="em_p_hover">
                          <em>개발·기획</em>
                          <p>간편한R&D 프로세스로 빠른 이슈 처리과 제품 개발</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="/img/collabo7.png" alt="" />
                        <div class="em_p_hover">
                          <em>영업·CRM</em>
                          <p>
                            영업현황 - 고객 관리 - 매출 완벽한 세일즈 프로세스
                          </p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="/img/collabo8.png" alt="" />
                        <div class="em_p_hover">
                          <em>학교·교육</em>
                          <p>교사부터 학생까지 디지털 인재로 성장</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="/img/collabo9.png" alt="" />
                        <div class="em_p_hover">
                          <em>HR·재무</em>
                          <p>직원 육성부터 목표관리까지 성장하는 업무 문화</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="/img/collabo10.png" alt="" />
                        <div class="em_p_hover">
                          <em>공공</em>
                          <p>공공기관에 최적화된 안전한 디지털 협업 환경</p>
                        </div>
                      </a>
                    </li>
                  </ul>
                  <div class="nav_banner_wrap">
                    <ul>
                      <li>
                        <a href="">
                          <img src="/img/riview.png" alt="" />
                        </a>
                      </li>
                      <li>
                        <img src="/img/tem.png" alt="" />
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li id="nav4">
              <a class="header_a" href="">강의실</a>
            </li>
            <li id="nav5">
              <a class="header_a" href="">프로모션</a>
            </li>
          </ul>
          <div class="button_wrap">
            <a class="header_doip_box" href="">
              <img src="/img/doip.png" alt="" />
              도입 문의
            </a>
            <a class="header_login_box" href="https://flow.team/signin.act">
              로그인
            </a>
            <a class="header_gaip_box" href=""> 무료 회원가입 </a>
          </div>
        </div>
      </nav>
      <hr class="header_hr" />
    </header>
    <main class="main1">
      <article class="main1_full_article">
        <section class="main1_contaner_box1">
          <img src="/img/main_article_text.png" alt="" />
          <p class="main1_article_p_text">
            모든 팀이 플로우로 모이면 더 큰 목표를 얻을 수 있습니다.
          </p>
          <a href="">
            <img src="/img/main_article_text2.png" alt="" />
          </a>
        </section>

        <section class="main1_contaner_box2">
          <img
            src="https://flow.team/flow-renewal/homepage/flow/common/assets/images-202307/main/top-slide-01.webp"
            alt=""
            width="950px"
            height="960px"
          />
        </section>
      </article>
    </main>
    <hr class="main_hr" />
    <main class="main2">
      <article class="main2_contaner_box">
        <h3 class="main2_article_text1">가장 많이 쓰는 기능 5가지</h3>
        <div class="main2_article_banner border">
          <div class="main2_article_text2">
            <button class="main2_mini_button">프로젝트</button>
            <button class="main2_mini_button">업무관리</button>
            <button class="main2_mini_button">메신저</button>
            <button class="main2_mini_button">히스토리</button>
            <button class="main2_mini_button">
              OKR목표<img id="mini_button_n" src="../../img/n.png" alt="" />
            </button>
          </div>
          <img class="main2_article_img border" src="" alt="" />
        </div>
      </article>
    </main>
    <footer></footer>